*{
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #21272f;
  margin: 0;
  color: #ccc;
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
